@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/* Img CSS */
a, u {
  text-decoration: none !important;
}
a, u :hover {
  /* text-decoration: none !important; */
}
.iconcss {
  fill: white;
  height: 30px;
  width: 30px;
  margin: 3px;
}
.cp {
  cursor: pointer;
}
.fb :hover {
  fill: #3b5998;
  /* background-color: white; */
}
.twi :hover {
  fill: #00acee;
}
.pin :hover {
  fill: #c8232c;
}
.lin :hover {
  fill: #0072b1;
}
.whats :hover {
  fill: #4fce5d;
}
.redd :hover {
  fill: #ff4300;
}
.tele :hover {
  fill: #2aabee;
}
.tumb :hover {
  fill: #34526f;
}
.vib :hover {
  fill: #59267c;
}
.gma :hover {
  fill: #db4437;
}
.trel :hover {
  fill: #0079bf;
}
.mess :hover {
  fill: #00c6ff;
}
.sky :hover {
  fill: #00aff0;
}

